<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
	    <!--侧边页内容-->
        <h1><a href="{{ "/" | absolute_url }}">{{ 万事屋 | 一个啥都写点的博客 }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="https://github.com/growster/growster.github.io">查看本博客的Github页面 <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="https://growster.github.io/">我的Github页面</a></p>
        {% endif %}
		<p class="view"><a href="https://t.me/Foreverneil">通过telegram私信我</a></p>
		
		
      </header>
      <section>

      {{ content }}
        <!-- 评论功能 -->
        <!-- <div id="container"></div>
        <script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
        <script>
        var gitment = new Gitment({
          id: '<%= page.date %>',
          owner: 'growster',
          repo: 'BlogCommentRepo',
          oauth: {
            client_id: '6e5b4e1d190270acc3c7',
            client_secret: '241cb058f506664290f5308baa32fb0d82afaed4',
          },
        })
        gitment.render('container')
        </script> -->

        <!-- 引入 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
          <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
        
        <!-- 添加一个容器-->
        <div id="gitalk-container"></div>
        
        <!-- 生成 gitalk 插件-->
        <script>
        var gitalk = new Gitalk({
          clientID: '6e5b4e1d190270acc3c7', //Client ID
        
          clientSecret: '241cb058f506664290f5308baa32fb0d82afaed4', //Client Secret
        
          repo: 'BlogCommentRepo',//仓库名称
          owner: 'growster',//仓库拥有者
          admin: ['growster'],
          id: '<%= page.date %>',      // Ensure uniqueness and length less than 50
          distractionFreeMode: false  // Facebook-like distraction free mode
        })
        gitalk.render('gitalk-container')
        </script>
        <!-- 评论功能END -->
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ Foreverneil }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?96bd8a6933d0e14baafb2a0f89051cab";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
    {% endif %}
  </body>
</html>
